// Less variables
@leftMenuWidth: 200px;
@windowWidths:      100px, 200px, 300px, 500px, 700px, 900px, 100%;
@windowWidthLabels: XXS,   XS,    S,     M,     L,     XL,    XXL;

// Less Mixins

// Generating different widths for windows
.windowWidth(@x) when (@x > 0) {
  .windowWidth((@x - 1));
  @val: extract(@windowWidths, @x);
  @name: extract(@windowWidthLabels, @x);
  .window-size-@{name}{
    width:@val;
  }
}

.windowWidth(length(@windowWidths));

.frame{
  position:relative;
  width: ~'calc(100% - @{leftMenuWidth})';
  height: ~'calc(100vh - 86px)';
  border: 3px ridge gray;
  float: right;
}

.right-panel{
  width: @leftMenuWidth;
  height: ~'calc(100vh - 86px)';
  background-color: silver;
}

.window {
  border:1px solid gray;
  position:absolute; left:10px; top:10px;
  padding: 0px;
  z-index: 1;
  border-radius: 4px;
  transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.window:active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}



.window-heading{
  display: inline-block;
  color: white;
  font-weight: bold;
  text-indent: 5px;
  vertical-align: middle;
}

.window-body{
  padding:3px;
  background-color: #cddbf2;
}

.window-menu{
  width: 100%;
  margin:0px;
  padding: 0px;
  height: 25px;
  background-color: cornflowerblue;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.window-menu:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.window-menu-left-container{
  width: @leftMenuWidth;
  position: fixed;
  left: 0px;
  bottom: 20px;
}

.window-menu-left{
  &:extend(.window-menu);
  &:extend(.window-heading);
  font-weight: normal;
  border-top: 1px solid blue;
  cursor: pointer;
}

.window-menu-left:hover{
  background-color: #93b1e2;
}

.close{
  position: absolute;
  top:0px;
  right: 20px;
  height:10px;
  width: 10px;
  cursor: pointer;
}
.ng-draggable {
  cursor: move;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
 }

 .main-loading {
   padding: 40px;
   color: rgba(112, 108, 108, 0.87);
   background-color: rgba(230, 215, 215, 0.5);
   width: 400px;
   border-radius: 10px;
 }