<div class="frame">
  <div id="loading-info" class="centered main-loading closed">
    {{loadingInfo}}
  </div>

  <svg version="1.1" width="97px" height="75px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
  viewBox="0 0 97.1 77.4" style="position:absolute;right:0;bottom:0" xml:space="preserve">
    <style type="text/css">
    .st0{fill:#AEDB97;stroke:#2AA400;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
    .st1{fill:none;stroke:#2AA400;stroke-width:2;stroke-linecap:round;stroke-miterlimit:10;}
    .st2{fill:none;stroke:#1B7300;stroke-width:3;stroke-linecap:round;stroke-miterlimit:10;}
    </style>
    <path class="st0" d="M48.2,29.4c-0.4,12.9,0.5,31.2,0.1,44c0,0.2,0.2,0.2,0.3,0.1c14.6-23.3,29.3-46.7,43.9-70
    C93,2.7,93.2,2.6,93,2.7C74.7,14.4,61.6,21,48.2,29.4C48.1,29.4,48.2,29.3,48.2,29.4z"/>
    <line class="st1" x1="48.4" y1="29.3" x2="3.5" y2="2.7"/>
    <line class="st2" x1="93" y1="2.7" x2="48.3" y2="74"/>
    <line class="st2" x1="3.5" y1="2.7" x2="48.3" y2="74"/>
    <line class="st2" x1="17.2" y1="2.7" x2="3.5" y2="2.7"/>
    <line class="st2" x1="93" y1="2.7" x2="80.3" y2="2.7"/>
  </svg>
  <ng-template ihost (closeWindowId)='closeWindow($event)' (doubleClick)='loadComponentWithData($event)'></ng-template>
</div>
