@import '../../../../styles/general.less';

.control-panel{
  width: 100%;
  background-color: #93b1e2;
  height:40px;
  color: white;
  font-weight: bolder;
  font-size: 1.2em;
  text-indent: 10px;
}
