<div cdkDrag cdkDragBoundary=".frame" id="{{windowData.id}}" class="window window-size-{{windowData.size}}" (mousedown)="focus()">
  <div cdkDragHandle class="window-menu" (document:keydown.esc)="closeOnEscape(windowData.id)">
    <mat-icon class="window-heading unselectable" *ngIf="windowData.page.split('-')[1]" svgIcon="{{windowData.page.split('-')[1]}}"></mat-icon>
    <span class="window-heading unselectable">{{windowData.title}}</span>
    <div class="close" >
      <mat-icon svgIcon="window-close" (click)="closeWindow(windowData.id)"></mat-icon>
    </div>
  </div>
  <div class="window-body">
    <form [formGroup]="form" autocomplete="off" (keydown.enter)="$event.preventDefault()"  (keydown.control.enter)="save()">
      <mat-tab-group animationDuration="0ms" style="min-height: 190px;">
        <mat-tab label="Հիմնական">
          <div class="raw" style="grid-area: 1/1">
            <mat-form-field appearance="standard">
              <mat-label>Կոդ</mat-label>
              <input matInput required formControlName="code" class="input-code">
            </mat-form-field>
          </div>
          <div class="raw" style="grid-area: 2/4/auto/7">
            <mat-form-field appearance="standard" >
              <mat-label>Ազգանուն</mat-label>
              <input matInput required formControlName="lastName" >
            </mat-form-field>
          </div>
          <div class="raw" style="grid-area: 2/1/auto/4">
            <mat-form-field appearance="standard">
              <mat-label>Անուն</mat-label>
              <input matInput required formControlName="firstName">
            </mat-form-field>
          </div>
          <div class="raw" style="grid-area: 2/7/auto/10">
            <mat-form-field appearance="standard">
              <mat-label>Հայրանուն</mat-label>
              <input matInput formControlName="middleName">
            </mat-form-field>
          </div>
          <div class="raw" style="grid-area: 3/1/auto/4">
            <mat-form-field appearance="standard">
              <mat-label>Սոց․քարտ</mat-label>
              <input matInput formControlName="ssn">
            </mat-form-field>
          </div>
          <div class="raw date-picker" style="grid-area: 3/6/auto/9">
            <mat-form-field appearance="standard">
              <mat-label>Ծննդյան օր</mat-label>
              <input matInput [matDatepicker]="dp" required formControlName="birthday" class="input-date">
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp></mat-datepicker>
            </mat-form-field>
          </div>
        </mat-tab>
        <mat-tab label="Կոնտակտներ">
          <div class="raw" style="grid-area: 1/1/auto/5">
            <mat-form-field appearance="standard">
              <mat-label>Էլ․ հասցե</mat-label>
              <input matInput formControlName="email" class="optional">
            </mat-form-field>
          </div>
          <div class="raw" style="grid-area: 1/6/auto/10">
            <mat-form-field appearance="standard">
              <mat-label>Հեռախոս</mat-label>
              <input matInput formControlName="cell" class="optional">
            </mat-form-field>
          </div>
        </mat-tab>
        <mat-tab label="Այլ">
          <div class="raw">
            <mat-form-field appearance="standard">
              <mat-label>Սեռ</mat-label>
              <mat-select [value]="person.gender">
                <mat-option *ngFor="let gender of genders" [value]="gender.key">
                  {{gender.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </mat-tab>
      </mat-tab-group>
      <div class="button-group" >
        <button mat-raised-button type="button" [disabled]="!form.valid" color="primary" (click)="save()" >
          <mat-icon *ngIf="isLoading" svgIcon="tail-spin"></mat-icon>Գրանցել
        </button>
        <button mat-stroked-button (click)="closeWindow(windowData.id)">Դադարեցնել</button>
      </div>
    </form>
  </div>
</div>
  