<div cdkDrag cdkDragBoundary=".frame" id="{{windowData.id}}" class="window window-size-{{windowData.size}}" (mousedown)="focus()">
  <div cdkDragHandle class="window-menu" (document:keydown.esc)="closeOnEscape(windowData.id)">
    <mat-icon class="window-heading unselectable" *ngIf="windowData.page.split('-')[1]" svgIcon="{{windowData.page.split('-')[1]}}"></mat-icon>
    <span class="window-heading unselectable">{{windowData.title}}</span>
    <div class="close" >
      <mat-icon svgIcon="window-close" (click)="closeWindow(windowData.id)"></mat-icon>
    </div>
  </div>
  <div class="window-body">
    <form [formGroup]="form" autocomplete="off" (keydown.enter)="$event.preventDefault()"> 
      
      <div class="raw" style="grid-area: 1/1/auto/2">
        <mat-form-field appearance="standard" class="mat-form-field-should-float">
          <mat-label>Բաժին</mat-label>
          <input (document:keydown.control.arrowdown)="openTypeAhead($event,'department')" matInput formControlName="department" class="input-code">
          <mat-icon matSuffix (click)="openTypeAhead($event,'department')" class="mat-icon-dropdown">arrow_drop_down</mat-icon>
        </mat-form-field>
        <app-typeahead (selected)="selectDepartmentTypeAhead($event)" [objCode]="'department'"></app-typeahead>
      </div>
      <div class="typeahead-label" style="grid-area: 1/2/auto/10">
        {{department?.name}}
      </div>

      <div class="raw" style="grid-area: 2/1/auto/2">
        <mat-form-field appearance="standard" class="mat-form-field-should-float">
          <mat-label>Հաշվետու ամիս</mat-label>
          <input (document:keydown.control.arrowdown)="openTypeAhead($event,'period')" matInput formControlName="period" class="input-code">
          <mat-icon matSuffix (click)="openTypeAhead($event,'period')" class="mat-icon-dropdown">arrow_drop_down</mat-icon>
        </mat-form-field>
        <app-typeahead (selected)="selectPeriodTypeAhead($event)" [objCode]="'period'"></app-typeahead>
      </div>
      <div class="typeahead-label" style="grid-area: 2/2/auto/10">
        {{period?.name}}
      </div>

      <!-- <div class="raw" style="grid-area: 2/1/auto/2">
        <mat-form-field appearance="standard" class="mat-form-field-should-float">
          <mat-label>Աշխատակից</mat-label>
          <input (document:keydown.control.arrowdown)="openTypeAhead($event,'person',false)" matInput formControlName="person" class="input-code">
          <mat-icon matSuffix (click)="openTypeAhead($event,'person',true)" class="mat-icon-dropdown">arrow_drop_down</mat-icon>
        </mat-form-field>
        <app-typeahead (selected)="selectPersonTypeAhead($event)" [objCode]="'person'"></app-typeahead>
      </div>
      <div class="typeahead-label" style="grid-area: 2/2/auto/10">
        {{person?.lastName}} {{person?.firstName}}
      </div> -->

      <div class="button-group" style="grid-area: 3/1/3/10">
        <button mat-raised-button type="button" [disabled]="!form.valid" color="primary" (click)="calculate()" >
          <mat-icon *ngIf="isLoading" svgIcon="tail-spin"></mat-icon>Հաշվարկել
        </button>
        <button mat-stroked-button (click)="closeWindow(windowData.id)">Դադարեցնել</button>
      </div>
      <!-- <div *ngIf="!form.valid" style="color:red;font-size:small">
        <mat-icon>warning</mat-icon> Լրացված տվյալներում առկա են սխալներ, <span style="color:blue;cursor:pointer" (click)="showErrors(form)">ավելին</span>
        <div id="err_{{windowData.id}}" style="color:gray"></div>
      </div> -->
    </form>
  </div>
</div>
  