@import '../../../../../../styles/mat-form.less';

::ng-deep .mat-form-field-label-wrapper {
    top: -1.1em !important;
    left: 0px;
}

::ng-deep .mat-select {
    width: 100px !important;
}

form {
    display: grid;
}