fieldset {
    padding: 15px 5px 5px 0px;
    font-size:12px;
    color:rgb(165, 160, 160);
    margin-top: 10px;

    display: grid;
    grid-template-columns: repeat(10, calc(10%-3px));
    grid-template-rows: auto;
    column-gap: 3px;

}

.input-code {
    width: 60px !important;
}

.input-number {
    width: 100px !important;
}

.input-date {
    width: 80px !important;
}

.input-full-length {
    width: 100% !important;
}

.required-input {
    color: #0b00ff !important;
    border-left-color: #2a45da;
}

.typeahead {
    border: 1px solid rgb(87, 84, 84);
    position: fixed;
    z-index: 9999;
}

.form-text-note {
    padding: 10px 0;
    color: gray;
    font: .9em sans-serif;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9980;
    width: 100%;
    height: 100%;
}

.closed {
    display: none;
}

.open {
    display: block;
}

.date-picker {
    margin-top: -5px !important;
}

.typeahead-label {
    font-size: small;
    margin: auto 0 1em 0;
}

.mat-icon-dropdown {
    position: absolute;
    right: 0;
    top: -20px;
    cursor: pointer;
}

.mat-icon-renew {
    position: absolute;
    right: -5px;
    top: -15px;
    cursor: pointer;
}

.mat-icon-button {
    height: 0.8em !important;
    width: 0px !important;
}

form {
    background-color: #e6f1f5;
}

.mat-tab-body-content {
    background-color: #e6f1f5;
    display: grid;
    grid-template-columns: repeat(10, calc(10%-3px));
    grid-template-rows: auto;
    column-gap: 3px;
}

.mat-tab-label {
    background-color: white;
    height: 30px !important;
}

.raw {
    margin: 5px;
    padding-left: 3px;
    border-radius: 4px;
    border-left: 3px solid transparent;
}

.button-group {
   width: 100% !important;
   display: flex;
   flex-direction: row-reverse; 
}

form button {
    margin: 5px !important;
    align-self: flex-end;
}


.mat-header-cell,
.mat-cell {
  padding: 0 0.5em 0 1em !important;
}

.mat-footer-row,
.mat-header-row,
.mat-row {
  height: 30px !important;
  line-height: 30px !important;
}


.mat-form-field-label-wrapper {
    top: -1.1em !important;
}

input.mat-input-element {
    color: black;
}