::ng-deep .mat-form-field-infix {
    width: 100% !important;
    font-size: small;
    border-top: .4em solid transparent !important;
    padding: 0 0 .3em 0 !important;
}
  
::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0.1em !important;
    
}
  
::ng-deep .mat-form-field-underline {
    bottom: 0.1em !important;
}

::ng-deep .mat-input-element {
    background-color:white !important;
    border-radius: 3px !important;
    border: 3px solid white !important;
    vertical-align: initial !important;
}