// Less variables
@windowWidths:      100px, 200px, 300px, 500px, 700px, 900px, 100%, 260px, 380px, 500px, 580px, 650px, 750px, 850px, 920px, 1000px;
@windowWidthLabels: XXS,   XS,    S,     M,     L,     XL,    XXL,  2,     3,     4,     5,     6,     7,     8,     9,     10;

// Generating different widths for windows
.windowWidth(@x) when (@x > 0) {
    .windowWidth((@x - 1));
    @val: extract(@windowWidths, @x);
    @name: extract(@windowWidthLabels, @x);
    .window-size-@{name}{
      width:@val;
    }
    .input-size-@{name}{
      width:calc(@val - 30px) !important;
    }
  }
  .windowWidth(length(@windowWidths));
  
  .window-size-R {
    min-width: 100px;
  }
 
  .window {
    display: inline-block;
    border: 1px solid gray;
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 0px;
    z-index: 1;
    border-radius: 4px;
    transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
                0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 1px 5px 0 rgba(0, 0, 0, 0.12);
  }
  
  .window:active {
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  
  
  .window-heading{
    display: inline-block;
    color: white;
    font-weight: bold;
    margin-left: 3px;
    text-indent: 5px;
    vertical-align: middle;
  }
  
  .window-body{
    padding:1px;
    background-color: #e6f1f5;
  }
 
  
 .close{
    position: absolute;
    top:0px;
    right: 20px;
    height:10px;
    width: 10px;
    cursor: pointer;
  }


  .menu-item {
    height: 30px;
    font-size: small;
    vertical-align: middle;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1px solid transparent;
}

.menu-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px inset rgba(0, 0, 0, 0.2);
}

.left-menu {
    background-color: rgb(206, 218, 236);
}

.left-menu-icon {
  width: 34px;
  height: 24px;
  margin-left: 10px;
}
 
.foot-note {
  font-size: small;
  color: gray;
  font-weight: bold;
  background-color: white;
}