<div cdkDrag cdkDragBoundary=".frame" id="{{windowData.id}}" class="window window-size-{{windowData.size}}" (mousedown)="focus()">
    <div cdkDragHandle class="window-menu" (document:keydown.esc)="closeOnEscape(windowData.id)">
      <mat-icon class="window-heading unselectable" *ngIf="windowData.page.split('-')[1]" svgIcon="{{windowData.page.split('-')[1]}}"></mat-icon>
      <span class="window-heading unselectable">{{windowData.title}}</span>
      <div class="close" >
        <mat-icon svgIcon="window-close" (click)="closeWindow(windowData.id)"></mat-icon>
      </div>
    </div>
    <div class="window-body">
      <form [formGroup]="form" autocomplete="off" (keydown.enter)="$event.preventDefault()"  (keydown.control.enter)="save()">
        <mat-tab-group animationDuration="0ms" style="min-height: 190px;" (selectedTabChange)="tabChanged($event)">
          <mat-tab label="Հիմնական">
            <!-- Employee -->
            <div class="raw" style="grid-area: 1/1/auto/2">
                <mat-form-field appearance="standard" class="mat-form-field-should-float">
                  <mat-label>Աշխատակից</mat-label>
                  <input (document:keydown.control.arrowdown)="openTypeAhead($event, 'person')" matInput formControlName="person" class="input-code">
                  <mat-icon matSuffix (click)="openTypeAhead($event, 'person')" class="mat-icon-dropdown">arrow_drop_down</mat-icon>
                </mat-form-field>
                <app-typeahead (selected)="selectTypeAhead($event)" [objCode]="'person'"></app-typeahead>
            </div>
            <div class="typeahead-label" style="grid-area: 1/2/auto/10">
                {{person?.lastName}} {{person?.firstName}}
            </div>

            <fieldset style="grid-area: 2/1/auto/5">
                <legend>Արձակուրդի տևողությունը</legend>
                <div class="raw date-picker" style="grid-area: 1/1/auto/5">
                    <mat-form-field appearance="standard">
                        <mat-label>Սկիզբ</mat-label>
                        <input matInput [matDatepicker]="sd" required formControlName="start" class="input-date">
                        <mat-datepicker-toggle matSuffix [for]="sd"></mat-datepicker-toggle>
                        <mat-datepicker #sd></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="raw date-picker" style="grid-area: 2/1/auto/5">
                    <mat-form-field appearance="standard">
                        <mat-label>Ավարտ</mat-label>
                        <input matInput [matDatepicker]="ed" required formControlName="end" class="input-date">
                        <mat-datepicker-toggle matSuffix [for]="ed"></mat-datepicker-toggle>
                        <mat-datepicker #ed></mat-datepicker>
                    </mat-form-field>
                </div>

                <div class="raw" style="grid-area: 2/4/auto/5">
                    <div class="form-text-note">կամ</div>
                </div>

                <div class="raw" style="grid-area: 2/5/auto/7">
                    <mat-form-field appearance="standard" >
                        <mat-label>Աշխատ․ օրեր</mat-label>
                        <input matInput formControlName="duration" class="input-number">
                        <mat-icon matSuffix (click)="updateDuration()" class="mat-icon-renew">autorenew</mat-icon>
                    </mat-form-field>
                </div>
            </fieldset>
          </mat-tab>
          <mat-tab label="Օրերի բացվածք" >
            <div class="info-list">
                <div>Ընդամենը օրեր։ {{breakdown.total}}, որից՝</div>
                <div> - աշխատանքային։ {{breakdown.working}} օր</div>
                <div> - շաբաթ։ {{breakdown.suturday}} օր</div>
                <div> - կիրակի։ {{breakdown.sunday}} օր</div>
                <div> - տոն/հիշատակի։ {{breakdown.holiday}} օր</div>
                <div>
                    <div class="holiday-name" *ngFor="let name of breakdown.holidayNames">{{name}}</div>
                </div>
            </div>
          </mat-tab>
          <mat-tab label="Միջինի հաշվարկ" >

          </mat-tab>
          <mat-tab label="Վճարում" >

          </mat-tab>
        </mat-tab-group>
        <div class="button-group" >
          <button mat-raised-button type="button" [disabled]="!form.valid" color="primary" (click)="save()" >
            <mat-icon *ngIf="isLoading" svgIcon="tail-spin"></mat-icon>Գրանցել
          </button>
          <button mat-stroked-button (click)="closeWindow(windowData.id)">Դադարեցնել</button>
        </div>
      </form>
    </div>
  </div>
    