.holiday-name {
    color: blue;
    display: inline-block;
    margin: 1px 2px;
    background-color: white;
    font-size: small;
    padding: 4px;
    border-radius: 6px;
    border: 1px solid gray;
}

.info-list {
    font-size: 14px;
    margin: 6px;
    color: #3c3232;
}