<ng-template [ngIf]="loggedIn">
  <app-top-menu (notify)='onSelect($event)'></app-top-menu>
  <app-control-panel [page]='state'></app-control-panel>
  <app-work-area #workArea [page]='state'></app-work-area>
</ng-template>
<ng-template [ngIf]="!loggedIn">
  <app-log-in></app-log-in>
</ng-template>
