<div cdkDrag cdkDragBoundary=".frame" id="{{windowData.id}}" class="window window-size-{{windowData.size}}" (mousedown)="focus()">
  <div cdkDragHandle class="window-menu" (document:keydown.esc)="closeOnEscape(windowData.id)">
    <mat-icon class="window-heading unselectable" *ngIf="windowData.page.split('-')[1]" svgIcon="{{windowData.page.split('-')[1]}}"></mat-icon>
    <span class="window-heading unselectable">{{windowData.title}}</span>
    <div class="close" >
      <mat-icon svgIcon="window-close" (click)="closeWindow()"></mat-icon>
    </div>
  </div>
  <div class="window-body">
    <form [formGroup]="form" autocomplete="off" (keydown.enter)="$event.preventDefault()" (keydown.control.enter)="save()">
      <mat-tab-group animationDuration="0ms" style="min-height: 190px;">
        <mat-tab label="Հիմնական">
          <div class="raw" style="grid-area: 1/1/auto/2">
            <mat-form-field appearance="standard" class="mat-form-field-should-float">
              <mat-label>Բաժին</mat-label>
              <input (document:keydown.control.arrowdown)="openTypeAhead($event,'department',false)" matInput formControlName="department" class="input-code">
              <mat-icon matSuffix (click)="openTypeAhead($event,'department',true)" class="mat-icon-dropdown">arrow_drop_down</mat-icon>
            </mat-form-field>
            <app-typeahead (selected)="selectDepartmentTypeAhead($event)" [objCode]="'department'"></app-typeahead>
          </div>
          <div class="typeahead-label" style="grid-area: 1/2/auto/10">
            {{department?.name}}
          </div>

          <div class="raw" style="grid-area: 2/1/auto/2">
            <mat-form-field appearance="standard" class="mat-form-field-should-float">
              <mat-label>Աշխատակից</mat-label>
              <input (document:keydown.control.arrowdown)="openTypeAhead($event,'person',false)" matInput formControlName="person" class="input-code">
              <mat-icon matSuffix (click)="openTypeAhead($event,'person',true)" class="mat-icon-dropdown">arrow_drop_down</mat-icon>
            </mat-form-field>
            <app-typeahead (selected)="selectPersonTypeAhead($event)" [objCode]="'person'"></app-typeahead>
          </div>
          <div class="typeahead-label" style="grid-area: 2/2/auto/10">
            {{person?.lastName}} {{person?.firstName}}
          </div>

          <div class="raw" style="grid-area: 3/1/auto/2">
            <mat-form-field appearance="standard" class="mat-form-field-should-float">
              <mat-label>Պաշտոն</mat-label>
              <input (document:keydown.control.arrowdown)="openTypeAhead($event,'role',false)" matInput formControlName="role" class="input-code">
              <mat-icon matSuffix (click)="openTypeAhead($event,'role',true)" class="mat-icon-dropdown">arrow_drop_down</mat-icon>
            </mat-form-field>
            <app-typeahead (selected)="selectRoleTypeAhead($event)" [objCode]="'role'"></app-typeahead>
          </div>
          <div class="typeahead-label" style="grid-area: 3/2/auto/10">
            {{role?.name}}
          </div>

          <div class="raw" style="grid-area: 4/1">
            <mat-form-field appearance="standard">
              <mat-label>Աշխատավարձ</mat-label>
              <input matInput required formControlName="salary" >
            </mat-form-field>
          </div>
          <div class="raw date-picker" style="grid-area: 5/1/auto/5">
            <mat-form-field appearance="standard">
              <mat-label>Սկիզբ</mat-label>
              <input matInput [matDatepicker]="sd" required formControlName="startDate" class="input-date">
              <mat-datepicker-toggle matSuffix [for]="sd"></mat-datepicker-toggle>
              <mat-datepicker #sd></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="raw date-picker" style="grid-area: 5/6/auto/10">
            <mat-form-field appearance="standard">
              <mat-label>Վերջ</mat-label>
              <input matInput [matDatepicker]="ed" formControlName="endDate" class="input-date">
              <mat-datepicker-toggle matSuffix [for]="ed"></mat-datepicker-toggle>
              <mat-datepicker #ed></mat-datepicker>
            </mat-form-field>
          </div>
        </mat-tab>
        <mat-tab label="Լրացուցիչ">
          <div class="raw" style="grid-area: 1/1">
            <mat-form-field appearance="standard" >
              <mat-label>Օր․աշխ․ժամ․</mat-label>
              <input matInput formControlName="dailyHours">
            </mat-form-field>
          </div>
          <div class="raw" style="grid-area: 2/1">
            <mat-form-field appearance="standard" >
              <mat-label>Տեսակը</mat-label>
              <input matInput formControlName="laborRelation">
            </mat-form-field>
          </div>
          <div class="raw" style="grid-area: 3/1">
            <mat-form-field appearance="standard" >
              <mat-label>Աշխ․շաբաթ</mat-label>
              <input matInput formControlName="workWeek">
            </mat-form-field>
          </div>
        </mat-tab>
      </mat-tab-group>
      <div class="button-group" >
        <button mat-raised-button type="button" [disabled]="!form.valid" color="primary" (click)="save()" >
          <mat-icon *ngIf="isLoading" svgIcon="tail-spin"></mat-icon> Գրանցել
        </button>
        <button mat-stroked-button (click)="closeWindow()">Դադարեցնել</button>
      </div>
      <div *ngIf="!form.valid" style="color:red;font-size:small">
        <mat-icon>warning</mat-icon> Լրացված տվյալներում առկա են սխալներ, <span style="color:blue;cursor:pointer" (click)="showErrors(form)">ավելին</span>
        <div id="err_{{windowData.id}}" style="color:gray"></div>
      </div>
    </form>
  </div>
</div>
  