@import '../../../../../styles/general.less';
@import '../../../../../styles/mat-form.less';

table {
  width: 100%;
  border-spacing: 0em;
}

th {
  background-color: white;
}

th.mat-sort-header-sorted {
  color: black;
}

[aria-sort] {
  background-color: #fcf1d9;
}

.active {
  background-color: rgb(241,245,254) !important;
}

.hidden {
  display: none;
}

.selected {
  background-color: yellow;
}

.right-align {
  text-align: right;
}

.narrow {
  padding: 0 .1em 0 .1em !important;
}

։։ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: .3em 0 0 0 !important;
}

.left-menu {
  border-radius: 3px;
  width: 150px;
  position: absolute;
  z-index: 9999;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.select-column-menu {
  border-radius: 3px;
  background-color: rgb(199, 192, 192);
  width: 220px;
  position: absolute;
  z-index: 9999;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2),
              0 2px 2px 0 rgba(0, 0, 0, 0.14),
              0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

// for left menu
::ng-deep .mat-dialog-container{
  padding: 0 !important;
}


.refreash{
  position: absolute;
  top:0px;
  right: 75px;
  height:10px;
  width: 10px;
  cursor: pointer;
}


.select-columns{
  position: absolute;
  top:0px;
  right: 50px;
  height:10px;
  width: 10px;
  cursor: pointer;
}

.table-footer {
  background-color:#f1f6fe;
}

.table-selected-footer {
  font-weight: bold;
}

.footer-first-column {
  padding-left: 5px !important;
  white-space: nowrap;
}

::ng-deep .mat-sort-header-button {
  line-height: normal !important;
}

::ng-deep th.mat-header-cell {
  border-width:1px;  
  border-style:outset;
  background-color: lavender;
}

::ng-deep td.mat-footer-cell {
  border-top: 1px solid #4b00ff85 !important;
}