<div cdkDrag cdkDragBoundary=".frame" id="{{windowData.id}}" class="window"
 (mousedown)="focus()" (document:keydown.shift.ք)="taggleFilters()">
  <div cdkDragHandle class="window-menu">
    <mat-icon class="window-heading unselectable" *ngIf="windowData.page.split('-')[1]" svgIcon="{{windowData.page.split('-')[1]}}"></mat-icon>
    <span class="window-heading unselectable">{{windowData.title}} {{selectionCriteria}}</span>
    <div class="refreash" >
      <mat-icon (click)="refreash()">autorenew</mat-icon>
    </div>
    <div class="select-columns" >
      <mat-icon (click)="openSelectColumns($event)">build</mat-icon>
    </div>
    <div class="close" >
      <mat-icon svgIcon="window-close" (click)="closeWindow(windowData.id)"></mat-icon>
    </div>
  </div>

  <table *ngIf="showFilter">
    <th *ngFor="let control of filterFormArray; index as i">
      <ng-container *ngIf="displayedColumnsWidths[i]!=0">
        <mat-form-field #tab>
          <mat-label class="filter">{{getColName(i)}}</mat-label>
          <input matInput tabindex="{{i+1}}" (keyup)="applyFilter($event)" [formControl]="control">
        </mat-form-field>
      </ng-container>
    </th>
  </table>

  <div style="max-height:300px">
    <div style="max-height:inherit;overflow-y:auto;">
      <table mat-table [dataSource]="dataSource" matSort (matSortChange)="onMatSortChange($event)">  

        <ng-container *ngFor="let col of displayedColumns; index as i">
          <ng-container matColumnDef="{{col}}">
            <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!displayedColumnsSortable[i]" [class.narrow]="displayedColumnsWidths[i]==0" style="width: {{displayedColumnsWidths[i]}}px">
              <input *ngIf="i == 0" type="checkbox" (click)="selectAllCheckboxes($event.target.checked,$event)" style="position:relative;left:-10px;"/>
              {{displayedColumnsNames[i]}}
            </th>
            <td mat-cell *matCellDef="let element" [class.right-align]="getAlign(displayedColumnsTypes[i])" [class.narrow]="displayedColumnsWidths[i]==0" style="white-space: nowrap;">
              <input *ngIf="i == 0" id="ch_{{element.uuid}}" type="checkbox" (click)="selectCheckbox(element.uuid,$event.target.checked)" style="position:relative;left:-10px;"/>
              {{ element.uuid ? (element[col] | cellComplexData: displayedColumnsTypes[i]) : '' }} 
            </td>
            <td mat-footer-cell *matFooterCellDef
             [class.right-align]="getAlign(displayedColumnsTypes[i])"
             [class.footer-first-column]="i == 0">
              {{ col | tableFooterData: data : displayedColumnsTypes[i] : (i == 0) : selectedRows  }}
              <div *ngIf="selectedRows.size > 0" class="table-selected-footer">
                {{(i == 0) ? selectedRows.size + ' տող' : footerCalc[i] | formatNumber }}
              </div>
            </td>

          </ng-container>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky:true" class="custom-table-row"></tr>
        <tr id="{{row.uuid}}" mat-row *matRowDef="let row; columns: displayedColumns;"
          [class.active]="activeRow == row.uuid"
          [class.selected]="isSelected(row.uuid)"
          [class.hidden]="!row.uuid"
          (click)="select(row.uuid)" 
          (dblclick)="editRecord(row, row.uuid)"
          (document:keydown.enter)="editRecord(row, row.uuid)"
          (contextmenu)="openMenu($event,row.uuid,4)"
          (document:keydown.shift.ի)="selectRow(row.uuid,$event)"
          (document:keydown.control.ա)="selectAll(row.uuid,$event)"
          (document:keydown.esc)="deselectAll()"
          (document:keydown.arrowdown)="goToNext(row.uuid,$event)"
          (document:keydown.arrowup)="goToPerviouse($event,row.uuid)"
        ></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns;sticky:true" class="table-footer"></tr>
      </table>
    </div>
  </div>

  <ng-container *ngIf="!showData" >
    <app-loader></app-loader>
  </ng-container>
  
</div>

<div class="left-menu closed" id="left-menu-{{windowData.id}}" (document:keydown.esc)="closeLeftMenu()">
  <div (click)="addLeftMenu()" class="menu-item">
      <div class="left-menu-icon"><span class="material-icons">add_circle</span></div>
      <div class="label">Նոր</div>
  </div>
  <div (click)="editLeftMenu()" class="menu-item">
     <div class="left-menu-icon"><span class="material-icons">edit</span></div>
     <div class="label">Խմբագրել</div>
  </div>
  <div (click)="copyLeftMenu()" class="menu-item">
      <div class="left-menu-icon"><img src="/assets/svg/icon/copy.svg" /></div>
      <div class="label">Պատճենել</div>
  </div>
  <div (click)="removeLeftMenu()" class="menu-item">
      <div class="left-menu-icon"><span class="material-icons">delete</span></div>
      <div class="label">Հեռացնել</div>
  </div>
</div>

<div class="select-column-menu closed" id="select-column-{{windowData.id}}" (document:keydown.esc)="closeSelectColumn()">
  <div *ngFor="let column of allDisplayedColumns; index as i" >
    <mat-checkbox [checked]="columnIsSelected(column)" (change)="applySelectColumn(column, $event.checked)"></mat-checkbox>
    <span>{{allDisplayedColumnsNames[i]}}</span>
  </div> 
</div>