<div id="typeahead-{{objCode}}" class="typeahead closed window-size-{{displayedColumns.length}}" (document:keydown.esc)="closeTypeAhead()">
  <table>
    <th *ngFor="let control of filterFormArray; index as i">
      <mat-form-field>
        <mat-label class="filter">{{getColName(i)}}</mat-label>
        <input matInput tabindex="{{i+1}}" (keyup)="applyFilter($event)" [formControl]="control">
      </mat-form-field>
    </th>
  </table>

  <table mat-table [dataSource]="data" matSort>

    <ng-container *ngFor="let col of displayedColumns; index as i">
      <ng-container matColumnDef="{{col}}">
        <td mat-cell *matCellDef="let element"> {{element[col] | cellComplexData: type}} </td>
      </ng-container>
    </ng-container>
  
    <tr id="{{row.uuid}}" mat-row *matRowDef="let row; columns: displayedColumns;" 
      [class.active]="activeRow == row.uuid"
      [class.selected]="isSelected(row.uuid)"
      (click)="select(row.uuid)" 
      (dblclick)="chooseRecord(row)"
      (document:keydown.enter)="chooseRecord(row)"
      (document:keydown.arrowdown)="goToNext(row.uuid,objCode,$event)"
      (document:keydown.arrowup)="goToPerviouse($event,row.uuid)"
    ></tr>
  </table>
  <ng-container *ngIf="!showData" >
    <app-loader></app-loader>
  </ng-container>
</div>
<div id="modal-overlay-{{objCode}}" class="modal-overlay closed" (click)="closeTypeAhead()"></div>
