@import '../../../../../styles/mat-form.less';


table {
  width: 100%;
  border-spacing: 0em;
}

th {
  background-color: white;
}

th.mat-sort-header-sorted {
  color: black;
}

[aria-sort] {
  background-color: #fcf1d9;
}

.active {
  background-color: #ccf1ff87 !important;
}

.selected {
  background-color: yellow;
}

։։ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: .3em 0 0 0 !important;
}


