<div class="top-menu">
  <ng-container *ngFor="let menuItem of menuData">
    <button mat-button [matMenuTriggerFor]="topMenu" matTooltip="{{menuItem.tooltip}}">{{menuItem.arm}}</button>
    <mat-menu #topMenu="matMenu">
      <ng-container *ngFor="let entry of menuItem.inner">
        <ng-container *ngIf="entry.inner.length > 0">
          <button mat-menu-item [matMenuTriggerFor]="subMenu" matTooltip="{{entry.tooltip}}" [matTooltipPosition]="position[1]">
            <mat-icon *ngIf="entry.icon" svgIcon="{{entry.icon}}"></mat-icon>
            {{entry.arm}}
          </button>

          <mat-menu #subMenu="matMenu">
            <ng-container *ngFor="let sub of entry.inner">
              <button mat-menu-item  (click)="openTable(sub.key)" matTooltip="{{sub.tooltip}}" [matTooltipPosition]="position[0]">
                <mat-icon *ngIf="sub.icon" svgIcon="{{sub.icon}}"></mat-icon>
                {{sub.arm}}
              </button>
            </ng-container>
          </mat-menu>


        </ng-container>
        <ng-container *ngIf="entry.inner.length == 0">
          <button mat-menu-item (click)="openTable(entry.key)" matTooltip="{{entry.tooltip}}" [matTooltipPosition]="position[0]">
            <mat-icon *ngIf="entry.icon" svgIcon="{{entry.icon}}"></mat-icon>
            {{entry.arm}}
          </button>
        </ng-container>
      </ng-container>
    </mat-menu>
  </ng-container>


  <div class="right">
      <button mat-button [matMenuTriggerFor]="settings">
        <mat-icon svgIcon="settings"></mat-icon>
      </button>
      <mat-menu #settings="matMenu">
        <button mat-menu-item>
          <mat-icon svgIcon="empty"></mat-icon>
          Այլ
        </button>
        <button mat-menu-item (click)="signOut()">
          <mat-icon svgIcon="sign-out"></mat-icon>
          Ելք
        </button>
      </mat-menu>
  </div>

</div>


