@import './styles/window.less';
@import './styles/form.less';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


 // Less variables
 @leftMenuWidth: 20px;
  
 // Less Mixins
 
 
 .frame{
   position:relative;
   width: ~'calc(100% - @{leftMenuWidth})';
   height: ~'calc(100vh - 80px)';
   border: 3px ridge gray;
   float: right;
 }
 
 .right-panel{
   width: @leftMenuWidth;
   height: ~'calc(100vh - 80px)';
   background-color: silver;
 }
 
 
 .window-menu{
   width: 100%;
   margin:0px;
   padding: 0px;
   height: 25px;
   background-color: cornflowerblue;
   cursor: move; /* fallback if grab cursor is unsupported */
   cursor: grab;
   cursor: -moz-grab;
   cursor: -webkit-grab;
 }
 
 .window-menu:active {
   cursor: grabbing;
   cursor: -moz-grabbing;
   cursor: -webkit-grabbing;
 }
 
 .window-menu-left-container{
   width: @leftMenuWidth;
   position: fixed;
   left: 0px;
   bottom: 20px;
 }
 
 .window-menu-left{
   &:extend(.window-menu);
   &:extend(.window-heading);
   font-weight: normal;
   border-top: 1px solid blue;
   cursor: pointer;
 }
 
 .window-menu-left:hover{
   background-color: #93b1e2;
 }
 