<div cdkDrag cdkDragBoundary=".frame" id="{{windowData.id}}" class="window window-size-{{windowData.size}}" (mousedown)="focus()">
  <div cdkDragHandle class="window-menu" (document:keydown.esc)="closeOnEscape(windowData.id)">
    <mat-icon class="window-heading unselectable" *ngIf="windowData.page.split('-')[1]" svgIcon="{{windowData.page.split('-')[1]}}"></mat-icon>
    <span class="window-heading unselectable">{{windowData.title}}</span>
    <div class="close" >
      <mat-icon svgIcon="window-close" (click)="closeWindow(windowData.id)"></mat-icon>
    </div>
  </div>
  <div class="window-body">
    <form [formGroup]="form" autocomplete="off" (keydown.enter)="$event.preventDefault()" (keydown.control.enter)="save()"> 
      <mat-tab-group animationDuration="0ms" style="min-height: 190px;">
        <mat-tab label="Հիմնական">
          <div class="raw" style="grid-area: 1/1">
            <mat-form-field appearance="standard">
              <mat-label>Կոդ</mat-label>
              <input matInput required formControlName="code" class="input-code">
            </mat-form-field>
          </div>
          <div class="raw" style="grid-area: 2/1/auto/10">
            <mat-form-field appearance="standard" >
              <mat-label>Անվանում</mat-label>
              <input matInput required formControlName="name" class="input-size-{{windowData.size}}">
            </mat-form-field>
          </div>
          <div class="raw" style="grid-area: 3/1/auto/10">
            <mat-form-field appearance="standard">
              <mat-label>Նկարագրություն</mat-label>
              <input matInput formControlName="description" class="input-size-{{windowData.size}}">
            </mat-form-field>
          </div>
          <div class="raw" style="grid-area: 4/1/auto/2">
            <mat-form-field appearance="standard">
              <mat-label>Հասանելի արձակուրդ</mat-label>
              <input matInput formControlName="eligibleDays">
            </mat-form-field>
          </div>
        </mat-tab>
      </mat-tab-group>
      <div class="button-group" >
        <button mat-raised-button type="button" [disabled]="!form.valid" color="primary" (click)="save()" >
          <mat-icon *ngIf="isLoading" svgIcon="tail-spin"></mat-icon>Գրանցել
        </button>
        <button mat-stroked-button (click)="closeWindow(windowData.id)">Դադարեցնել</button>
      </div>
    </form>
  </div>
</div>
  